In [1]:
import numpy as np 
import pandas as pd 
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [2]:
df = pd.read_csv('C:/Users/PAVITRA/OneDrive/Desktop/titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [5]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Fare'] = df['Fare'].fillna(df['Fare'].mean())

In [6]:
df['Embarked'].unique()

array(['Q', 'S', 'C'], dtype=object)

In [7]:
df['Embarked'] = df['Embarked'].map( {'Q': 0,'S':1,'C':2}).astype(int)
df['Sex'] = df['Sex'].map( {'female': 1,'male':0}).astype(int)

In [8]:
df['Age'] = df['Age'].astype(int)
df['Fare'] = df['Fare'].astype(int)

In [9]:
df.dtypes

PassengerId     int64
Survived        int64
Pclass          int64
Name           object
Sex             int32
Age             int32
SibSp           int64
Parch           int64
Ticket         object
Fare            int32
Cabin          object
Embarked        int32
dtype: object

In [10]:
data = df.drop(['PassengerId','Name','Cabin','Ticket'], axis =1, inplace=True)

In [11]:
df

     Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0           0       3    0   34      0      0     7         0
1           1       3    1   47      1      0     7         1
2           0       2    0   62      0      0     9         0
3           0       3    0   27      0      0     8         1
4           1       3    1   22      1      1    12         1
..        ...     ...  ...  ...    ...    ...   ...       ...
413         0       3    0   30      0      0     8         1
414         1       1    1   39      0      0   108         2
415         0       3    0   38      0      0     7         1
416         0       3    0   30      0      0     8         1
417         0       3    0   30      1      1    22         2

[418 rows x 8 columns]

In [12]:
X=df.drop(['Survived'],axis=1)
y=df.iloc[:,1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

rf=RandomForestClassifier(random_state=42)
rf.fit(X_train,y_train)
rf_predictions=rf.predict(X_test)
rf_accuracy=accuracy_score(y_test,rf_predictions)
print("Random Forest Accuracy:", rf_accuracy)

Random Forest Accuracy: 1.0

In [13]:
lr_classifier = LogisticRegression(random_state=42, max_iter=1000)
lr_classifier.fit(X_train, y_train)
lr_predictions = lr_classifier.predict(X_test)
lr_accuracy = accuracy_score(y_test, lr_predictions)
print("Logistic Regression Accuracy:", lr_accuracy)

Logistic Regression Accuracy: 0.9761904761904762

In [14]:
GB =GaussianNB()
GB.fit(X_train, y_train)
GB_predictions = GB.predict(X_test)
GB_accuracy = accuracy_score(y_test, GB_predictions)
print("GaussianNB Accuracy:", GB_accuracy)

GaussianNB Accuracy: 1.0

In [15]:
svm_classifier = SVC(random_state=42)
svm_classifier.fit(X_train, y_train)
svm_predictions = svm_classifier.predict(X_test)
svm_accuracy = accuracy_score(y_test, svm_predictions)
print("SVM Accuracy:", svm_accuracy)

SVM Accuracy: 0.6428571428571429